/* Define the keyframes for the fade-in animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
img {
    display: block;
    width: 100%;
    animation: fadeIn 1s ease-in-out;
}