body{
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    background-color: white;
    color: inherit;
}
header, main, footer,nav{
    max-width: 700px;
    margin: auto;
    /* border: 1px solid #bbb; */
    /* padding: 1rem; */

}
header{
    display: flex;
    justify-content: space-around;
}
header .picture{
    width: 5.75rem;
    height: max-content;
}
header .name{
    text-align: center;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#mode{
    font-size: 1rem;
    cursor: pointer;
    padding: .25rem;
}
#mode:hover{
    background-color: black;
    height: fit-content;
    color: white;
}
img{
    height: 100%;
    width: 100%;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
}
header,footer{
    background-color: rgb(160, 159, 159);
    padding: 1rem;
}
nav{
    height: 2.5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
}

nav a{
    width: 5rem;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .25rem;
}
nav a:hover{
    /* width: 5rem; */
    color: white;
    border-bottom: .25rem solid white;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
}
.active{
    border-bottom: .25rem solid white;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
}
h1{
    text-align: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    height: 50vh;
}
section{
    /* padding: 1rem; */
    /* background-color: #fff; */
}
.card{
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
    /* background-color: rgb(206, 205, 205); */
    border-radius: .5rem;
    height: 30vh;
    /* padding:.25rem 0; */
}
.card-title{
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-style: normal;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    width: auto;
    font-size: 1.25rem;
    padding: .5rem;
    color: white;
    text-align: center;
    /* border-bottom: .25rem solid grey; */
    background-color: grey;
}
.card ul{
    /* border: .25rem solid tomato; */
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .5rem;
}
.card ul li{
    list-style-type: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5rem;
}

footer p{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1rem;
    margin: auto;
    text-align: center;
}
footer div{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
}

/* @media (prefers-color-scheme: dark) {
    .theme-a.adaptive {
      background: #753;
      color: #dcb;
      outline: 5px dashed #000;
    }
  }


  @media (prefers-color-scheme: light) {
    .theme-b.adaptive {
      background: #bcd;
      color: #334;
      outline: 5px dotted #000;
    }
  } */