/* Normalize.css */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* Sets 1rem to 10px */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    box-sizing: border-box; /* Ensures consistent box model */
}

.roboto-thin,
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.roboto-thin {
    font-weight: 100;
}

.roboto-light {
    font-weight: 300;
}

/* Global styles */
header, main, footer, nav, section {
    margin: auto;
    /* border: 1px solid #bbb; */
    padding: 1rem;
}

header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#sidebar{
    position: absolute;
    top: 30%;
    bottom: auto;
    right: 50%;
    font-size: 1.5rem;
    background-color: white;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links a {
    font-size: 1rem;
    color: #515454;
    text-decoration: none;
    font-weight: 500;
}

.site-title {
    font-size: 2.5rem;
    color: #515454;
}

.site-title h1 {
    font-size: inherit;
}

.hero{
    background: url("../images/istockphoto-1280325823-1024x1024.jpg");
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 60vh; /* Ensures image aspect ratio is maintained */
}
main {
    padding: .1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
    justify-items: center; /* Center items horizontally */
    
}

.content {
    /* border: .2rem solid red; */
    /* Optionally, you can set a width to prevent the border from collapsing */
    width: 100%;
    grid-area: 1/span 3;
}

.box-heading{
    text-align: center;
    padding: 1rem;
}
.big{
    text-align: center;
    font-size: 1.25rem;
}
.content-picture,.content-box{
    min-height: 20rem;
    min-width: 15rem;
    margin: auto;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
    margin-bottom: .5rem;
    border-radius: .25rem;
}
.content-picture img{
    max-width: 50rem;
    min-width: 100%;
    height: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.flex .category{
    border: .01rem solid black;
    height: fit-content;
}
.action{
    display: grid;
    position: absolute;
    right:50%;
    left:0;
    top: 50%;
    padding: 2rem;
    min-width:25vw ;
    background-color:rgba(0, 0, 0, 0.36);
    backdrop-filter: 2rem blur;
}
.action-title{
    text-align: center;
    font-size: 1.75rem;
    /* background-color: #1abc9c; */
    /* padding: 1rem; */
    color: white;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.action button{
    border: none;
    font-size: 1rem;
    padding: 1rem;
    border-radius: .25rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    align-self: flex-start;
}
/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.category-container{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.category {
    border: .1rem solid #7f8c8d;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;
    color: #7f8c8d;
    cursor: pointer;
}

/* Main content */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    font-size: 1rem;
}

section {
    width: 30vw;
    height: 30vh;
    border-radius: .25rem;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
}

.title {
    border-bottom: .25rem solid #7f8c8d;
    padding: 0 .5rem;
    text-align: center;
}

.color {
    text-align: center;
}

/* Color variations */
.green,
.carrot,
.yellow,
.grey,
.typography {
    padding: 1rem;
}

.green {
    background-color: #1abc9c;
}

.carrot {
    background-color: #e67e22;
}

.yellow {
    background-color: #f1c40f;
}

.grey {
    background-color: #7f8c8d;
}

footer{
    text-align: center;

}
footer p{
    font-size: 1rem;
    padding: .5rem;
}
p:ch