/* Normalize.css */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; /* Sets 1rem to 10px */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    box-sizing: border-box; /* Ensures consistent box model */
}

.roboto-thin,
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

.roboto-thin {
    font-weight: 100;
}

.roboto-light {
    font-weight: 300;
}

/* Global styles */
header, main, footer, nav, section {
    margin: auto;
    /* border: 1px solid #bbb; */
    padding: 1rem;
}

header {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#sidebar{
    position: absolute;
    top: 30%;
    bottom: auto;
    right: 50%;
    font-size: 1.5rem;
    background-color: white;
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.links a {
    font-size: 1rem;
    color: #515454;
    text-decoration: none;
    font-weight: 500;
}

.site-title {
    font-size: 2.5rem;
    color: #515454;
}

.site-title h1 {
    font-size: inherit;
}

.hero{
    background: url("../images/istockphoto-1280325823-1024x1024.jpg");
    background-size: cover;
    background-position:center ;
    width: 100%;
    height: 60vh; /* Ensures image aspect ratio is maintained */
}
main {
    padding: .1rem;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 2fr;
    justify-items: center; /* Center items horizontally */
    
}

.content {
    /* border: .2rem solid red; */
    /* Optionally, you can set a width to prevent the border from collapsing */
    width: 100%;
    grid-area: 1/span 3;
}

.box-heading{
    text-align: center;
    padding: 1rem;
}
.big{
    text-align: center;
    font-size: 1.25rem;
}
.content-picture,.content-box{
    min-height: 20rem;
    min-width: 15rem;
    margin: auto;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
    margin-bottom: .5rem;
    border-radius: .25rem;
}
.content-picture img{
    max-width: 50rem;
    min-width: 100%;
    height: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem;
}
.flex .category{
    border: .01rem solid black;
    height: fit-content;
}
.action{
    display: grid;
    position: absolute;
    right:50%;
    left:0;
    top: 50%;
    padding: 2rem;
    min-width:25vw ;
    background-color:rgba(0, 0, 0, 0.36);
}
/* backdrop filter removed */
.action-title{
    text-align: center;
    font-size: 1.75rem;
    /* background-color: #1abc9c; */
    /* padding: 1rem; */
    color: white;
    margin-bottom: 1rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.action a{
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    font-size: 1rem;
    padding: 1rem;
    border-radius: .25rem;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    align-self: flex-start;
}
.action a:hover{
    background-color: white;
    color: black;
}
/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.category-container{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.category {
    border: .1rem solid #7f8c8d;
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 700;
    width: fit-content;
    color: #7f8c8d;
    cursor: pointer;
}

/* Main content */
main {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    font-size: 1rem;
}

section {
    width: 30vw;
    height: 30vh;
    border-radius: .25rem;
    box-shadow: 0px 4px 16px rgba(17,17,26,0.1), 0px 8px 24px rgba(17,17,26,0.1), 0px 16px 56px rgba(17,17,26,0.1);
}

.title {
    border-bottom: .25rem solid #7f8c8d;
    padding: 0 .5rem;
    text-align: center;
}

.color {
    text-align: center;
}

/* Color variations */
.green,
.carrot,
.yellow,
.grey,
.typography {
    padding: 1rem;
}

.green {
    background-color: #1abc9c;
}

.carrot {
    background-color: #e67e22;
}

.yellow {
    background-color: #f1c40f;
}

.grey {
    background-color: #7f8c8d;
}

footer{
    text-align: center;

}
footer p{
    font-size: 1rem;
    padding: .5rem;
}


.container {
    max-width: 900px;
    margin: auto;
    /* margin: 20px; */
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: #218838 solid 2px;
}

.form-container {
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    display: block;
    font-size: 1rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* font-size: 1rem; */
    max-height: 35px;
}

input[type="submit"] {
    padding: 10px 20px;
    background: #218838;
    border: none;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background: #218838;
}

.membership-benefits {
    margin-top: 20px;
    height: inherit;
    /* border: .01rem solid black; */
}

.membership-benefits h2 {
    margin-bottom: 10px;
    text-align: center;
    border-bottom: #218838 solid 2px;
}

.membership-benefits ul {
    /* border: .01rem solid black; */
    height: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.membership-benefits li {
    margin-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    text-justify: distribute;
    box-shadow: 0 0 10px #1abc9c;
    padding: .5rem;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* thankyou page */
.thank-you{
    font-size: 1rem;
}
.thank-you a{
    text-decoration: none;
    background-color: #218838;
    padding: .5rem;
    color: white;
    border-radius: 2px;
}
@media (min-width: 768px) {
    .action{
        left: 1rem;
        right: auto;
        margin: auto;
    }
    .action a{
        margin: auto;
    }
    .form-container {
        flex-direction: row;
    }

    form {
        flex: 2;
    }

    .membership-benefits {
        flex: 1;
        margin-left: 20px;
    }
}
